* {
    box-sizing: border-box;
}

/* Body */

body{
    position: relative;
    padding-bottom: 10rem;
    min-height: 100vh;
}

.button, .button.button-primary, .button.button-primary:hover{
    background-color: greenyellow;
    color: #000;
}

@media (min-width: 650px){
    body{
        padding-bottom: 6rem;
    }
}

@media (min-width: 1025px){
    body{
        padding-bottom: 5.2rem;
        min-height: 97.2vh;
    }
}